services:
  mysql:
    image: mysql
    ports:
      - "3307:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ambientededados
    volumes:
      - ./conf.d:/etc/mysql/conf.d:ro

